body {
    margin: 0;
}
div {
    text-align: center;
    background-color: rgba(255, 105, 180, 0.562);
    border: black solid 3px;
    position: fixed;
    height: 100px;
    width: 100%;
    bottom: 0;
}